# Para Prisma CLI en tu máquina
DATABASE_URL_HOST=postgres://reservas_user:p4ssw0rd_s3gUr4_2025!@localhost:5433/reservas_db
REDIS_URL="redis://redis:6379"

# Para el backend dentro de Docker
DATABASE_URL=postgres://reservas_user:p4ssw0rd_s3gUr4_2025!@db:5432/reservas_db
